@use "../../styles/variables" as *;
.logo-parent {
  position: relative;
}
.logo {
  width: 173.76px;
  height: 36px;
  position: absolute;
  top: 20px;
  left: 45px;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background-color: $bg-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .illustration {
    max-width: 90%;
    height: auto;
  }
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  border: 1px solid rgba($text-color, 0.05);

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $secondary-color;
    line-height: 100%;
    letter-spacing: -4%;
    font-weight: 700;
  }

  p {
    color: $text-color;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 100%;
  }

  .form-group {
    margin-bottom: 1.5rem;
    position: relative;

    input::placeholder {
      display: block;
      margin-bottom: 0.5rem;
      color: $text-color;
      font-size: 14px;
      line-height: 100%;
      font-weight: 400;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      border: 2px solid rgba($text-color, 0.15);
      border-radius: 5px;
    }

    .toggle {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      cursor: pointer;
      color: $primary-color;
      font-weight: bold;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 10%;
    }
  }

  .forgot-password {
    display: block;
    margin-bottom: 1rem;
    color: $primary-color;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 10%;
  }

  .login-btn {
    background-color: $primary-color;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
  }
}
@media (max-width: 1024px) {
  .login-container {
    padding: 2rem;
  }

  .login-right {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login-left,
  .login-right {
    flex: none;
    width: 100%;
  }

  .login-left {
    order: 2;
    padding: 2rem 0;

    .illustration {
      max-width: 70%;
    }
  }

  .login-right {
    order: 1;
    padding: 2rem;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .logo {
    top: 10px;
    left: 20px;
    width: 120px;
    height: auto;
  }

  .login-right {
    padding: 1.5rem;

    .form-group input {
      padding: 0.65rem;
    }

    .login-btn {
      padding: 0.65rem;
    }
  }

  .login-left .illustration {
    max-width: 90%;
  }
}
