.blacklist {
  background-color: transparent;
  color: #e4033b;
  border: 1px solid #e4033b;
  padding: 6px 12px;
}

.activate {
  background-color: #39cd62;
  color: white;
  border: none;
  padding: 6px 12px;
}
